{% extends "_post.html" %}
{%load webdesign %}
{%hyde
    title: Not buying is not the answer
    created: 2008-11-18 18:00:00
%}
{% block article %}

{%article%}

{%excerpt%}

<p>A few days ago, a friend of mine joined the Facebook group “Buy
Nothing Day. November 25.” It sounded suspiciously armchair
activismish. <a href="http://en.wikipedia.org/wiki/Buy_Nothing_Day">Wikipedia
says that</a>:</p>

<blockquote>[b]uy Nothing Day is an international day of protest
against consumerism observed by social activists... It was founded by
Vancouver artist Ted Dave and subsequently promoted by Adbusters
magazine, based in Canada.</blockquote>

{%endexcerpt%}

<h1>Industrialized confusion</h1>

<p>The people behind Buy Nothing Day clearly mean well. But they are
confusing consumerism with materialism. So they conflate all buying
with vanity and status purchases.</p>

<p>This kind of activism can only arise in industrialized nations. Any
person that has had to endure the kind of financial hardship you see
in some African nations, appreciates the value of trade.</p>

<h1>Developing sense</h1>

<p>Every so often I see calls for Europe and the US to scrap their
farming subsidies so that African farmers will be able to compete with
their industrialized counterparts.</p>

<p>What else are these farmers doing, but to try to gain access to
industrialized markets? They want you to buy, and by not buying their
produce, you’re making life more difficult for them.</p>

<h1>Buy Certain Things Day</h1>

<p>I agree with the Buy Nothing Day folks on the matter of
materialism. We (and I include myself as a middle class South African)
certainly buy a lot of things that don’t really improve our lives that
much.</p>

<p>But if we are to engage in social activism, good intentions alone
won’t cut it if we block the only avenue that poor people have to
improve their lives – love and ancient cultures are great, but won’t
help the developing world get out of poverty.</p>

<p>Instead of buying nothing, insist on buying produce from developing
nations. If you are generous, pay for the tuition of a child in a
developing nation. Heck, why not start at home and pay for the tuition
of a poor child in your own country?</p>

<h1>Getting more people to buy stuff</h1>

<p>If you really want to help transfer wealth and improve lives, start a
company. Even the most prosperous of countries have unemployed
people. And where you can’t find local talent, you will surely attract
foreign talent. By starting a company, you’ll increase the amount of
trade in the world and therefore you’ll help budge the world another
inch away from poverty.</p>

<p>Long live the trade.</p>

{%endarticle%}

{% endblock %}
